h1{
    color: white;
    text-shadow: 1px  2px 2px  black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
}

div.galeria{
    margin: 10px  20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    width: 350px;
}

div.galeria img{
    width: 100%;
    height: auto;
    
}

div.galeria:hover{
    border: 1px solid #ccc;
    transform: rotate(-3deg);
}

div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px peru;
    padding: 10px;
}

img{
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
}

header p{
    padding-left: 5%;
    font-size: 18px;
    font-family: Calibri;
}

ul li{
    display: inline-block;
    padding: 0px 20px;
    margin-bottom: 3%;
}

ul li:hover{
    background-color: aquamarine;
}

nav{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    color: black;
    background-color: #FFD700;
}

footer
{
    color: white;
    background-color: black;
    font-size: 0.8rem;
    margin-top: 20px;
    padding: 15px;
    padding-bottom: 15px;
    text-align: center;
}
